h1 {
  font-family: fantasy;
  font-size: 36px;
  color: rgb(3, 169, 244);
  font-weight: bold;
}

.top-ul {
  margin-bottom: 0px;
}

.new-thought {
  background-color: white;
  padding: 5px 0px;
  border-radius: 4px;
  border: 1px solid black;
}

.new-thought button {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}

.posts-list {
  background-color: white;
  padding: 5px 0px;
  border-radius: 4px;
  border: 1px solid black;
  margin-top: 10px;
}

ul {
  list-style: none;
}
