/* You can add global styles to this file, and also import other style files */
/*
@font-face {
  font-family: "Dosis-Regular";
  src: url("./assets/fonts/Dosis-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "HomemadeApple-Regular";
  src: url("./assets/fonts/HomemadeApple-Regular.ttf") format("truetype");
} */


body {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  display: flex;
  flex: 1 0 auto;
  font-family: 'Homemade Apple', 'Dosis', cursive, sans-serif;
}

app-root {
  display: flex;
  flex: 1 0 auto;
}

.container {
  display: flex;
  flex: 1 0 auto;
  padding: 20px;
}

.scroller {
  max-height: 700px;
  overflow: auto;
}

.cursor-pointer {
  cursor: pointer;
}
